# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Poetry virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/

#credentials
credentials.json

# Ignore Python environment and cache
prototype/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
Lib/
Scripts/
*.egg-info/

# Ignore pyproject.toml and poetry.lock
pyproject.toml
poetry.lock