--index-strategy unsafe-best-match
--find-links https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
transformers==4.38.0
fastapi
uvicorn
pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
certifi
charset-normalizer